/*Custom styles (Not bootstrap elements)*/
/*Color Variables (Huisstijl)*/
:root{
    --Lila: #d9d7eb;
    --Offwhite: #FCFDFD;
    --Ultralightgrey: #f3f3f3;
    --Lightgrey: #767575;
    --Grey: #302f2f;
    --DarkGrey: #21151A;
}
/*Elements*/
p{
    font-size: 20px;
}
/*BG colors*/
.bg-lila{
    background-color: var(--Lila);
}
.bg-offwhite{
    background-color: var(--Offwhite);
}
.bg-ultralightgrey{
    background-color: var(--Ultralightgrey);
}
/*Logo img*/
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.imgFix{
    width: auto;
    background-color: var(--Ultralightgrey);
    padding: 15px;
}
/*Body*/
body{
    font-size: 15px;
    background-color: var(--Offwhite);
    color: var(--Grey);
    font-weight: bold;
}
/*Navbar header*/
.navbar{
    font-size: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid var(--DarkGrey);
}
.navbar-brand{
    font-size: 20px;
}
.navbar-default .navbar-brand{
    color: var(--Grey);
}
/*Arrow*/
.arrow{
    padding: 20px 0px;
    font-size: 50px;
    color: var(--Grey);
}
/*A links*/
a{
    color: var(--Grey);
    text-decoration: inherit;
}
a:hover{
    color: var(--Lila);
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
    color: var(--Grey);
}
/*H1*/
h1{
    font-weight: bold;
}
/*Footer*/
footer{
    padding: 20px 0px;
    background-color: var(--Ultralightgrey);
    color: var(--DarkGrey);
}
/*Maps api*/
/* key: AIzaSyD9yK8trEmC6b0tDmS0WeXD9D72cmHlPHY */
#map{
    height: 200px;
    width: auto;
}