/*Custom styles (Not bootstrap elements)*/
/*Color Variables (Huisstijl)*/
:root{
    --Lila: #d9d7eb;
    --Offwhite: #FCFDFD;
    --Ultralightgrey: #f3f3f3;
    --Lightgrey: #767575;
    --Grey: #302f2f;
    --DarkGrey: #21151A;
    --Text: #777;
}
/*Elements*/
body{
    font-size: 15px;
    background-color: var(--Offwhite);
    color: var(--Grey);
    font-weight: bold;
}

h1{
    font-weight: bold;
}
h2{
    margin: 0px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 30px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p{
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: var(--Text);
    margin: 11px 0 11px 0 !important;
}
hr{
    border-top: 1px solid var(--Text);
}
a{
    color: var(--Text);
    text-decoration: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
a:hover{
    color: var(--Lila);
}
label{
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: var(--DarkGrey);
}
input{
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: var(--Text);
}
i {
    color: var(--DarkGrey);
}
button{
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: var(--Text);
}
footer{
    padding: 20px 0px;
    background-color: var(--Ultralightgrey)!important;
    color: var(--DarkGrey)!important;
}
/*BG colors*/
.bg-lila{
    background-color: var(--Lila)!important;
}
.bg-offwhite{
    background-color: var(--Offwhite)!important;
}
.bg-ultralightgrey{
    background-color: var(--Ultralightgrey)!important;
}
.bg-lightgrey{
    background-color: var(--Lightgrey)!important;
}
.color-white{
    color: var(--Offwhite)!important;
}
/*Navbar header*/
.navbar{
    font-size: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid var(--DarkGrey);
    margin-bottom: 0px !important;
}
.navbar-brand{
    font-size: 20px;
}
.navbar-default .navbar-brand{
    color: var(--Grey);
}
/*Arrow*/
.arrow{
    font-size: 50px;
    color: var(--Grey);
}
/*A links*/

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
    color: var(--Grey);
}
/*Maps api*/
/* key: AIzaSyD9yK8trEmC6b0tDmS0WeXD9D72cmHlPHY */
#map{
    height: 200px;
    width: auto;
}
.sectionClass{
    padding: 25px 0px 25px 0px;
}
.row{
    margin: 0px !important;
}
.teamheader{
    margin-top: 0px;
    padding: 0 0 22px 0;
}
/*Font awesome icons*/
.faTeam {
    font-size: 30px !important;
}
.faContact {
    font-size: 75px !important;
}
/*Bootstrap changer*/
.alert, .thumbnail {
     margin-bottom: 0px;
}
.divImg{
    background-image: url("../img/contact/banner.png");
    background-size: cover;
    position: relative;
    padding: 200px 0px 200px 0px;
}
.form-control, output{
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: var(--Text);
}
.btn{
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: var(--Text);
}
/*Neels css*/
